.a2f6cbe45867f82189117cQuoteIIcon {
  position: absolute;
  height: 7.97%;
  width: 5.71%;
  top: 0.27%;
  right: 94.29%;
  bottom: 91.76%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.portalDeliversCuttingEdge {
  position: relative;
  letter-spacing: -2.35px;
  line-height: 62.83px;
  font-weight: 500;
  display: inline-block;
  width: 1027px;
  flex-shrink: 0;
}
.heading2,
.image2Icon {
  position: absolute;
  top: 0;
}
.heading2 {
  height: 69.03%;
  width: 90%;
  right: 0;
  bottom: 30.97%;
  left: 10%;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 31.4100341796875px 0.6400146484375px
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.image2Icon {
  left: 0;
  width: 84px;
  height: 84px;
  object-fit: cover;
}
.a441bfcbe18f0944da7010Client {
  position: absolute;
  top: calc(50% - 37.79px);
  left: 0;
  border-radius: var(--br-1661xl);
  width: 75.59px;
  height: 75.59px;
  overflow: hidden;
}
.janeMiller {
  position: relative;
  line-height: 36.04px;
  font-weight: 500;
}
.marketingManager {
  position: relative;
  font-size: 14.12px;
  line-height: 24.95px;
  color: var(--color-gray-200);
  margin-top: -0.96px;
}
.divclientDetailsWrap {
  position: absolute;
  top: calc(50% - 30.99px);
  left: 99.11px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 3.9499969482421875px 0.4399986267089844px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divclientInfo {
  position: absolute;
  top: 33.24px;
  left: 0;
  width: 375.53px;
  height: 75.59px;
}
.digitalTransformationCuttin {
  position: absolute;
  top: 76.95px;
  left: 439.36px;
  font-size: 14.12px;
  line-height: 24.95px;
  color: var(--color-gray-200);
  text-align: right;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  top: 77.32px;
  left: 1023.41px;
  width: 26.51px;
  height: 17.75px;
}
.vectorIcon1 {
  left: 952.41px;
}
.divwNode7902f10a4ea9D96b {
  position: absolute;
  height: 19.89%;
  width: 90%;
  top: 80.11%;
  right: 0;
  bottom: 0;
  left: 10%;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  font-size: 20.84px;
}
.component5 {
  position: absolute;
  top: 7381px;
  left: 418px;
  width: 1176px;
  height: 547.06px;
  text-align: left;
  font-size: 54.12px;
  color: var(--black);
  font-family: var(--font-inter);
}
