.heading3,
.maskGroupIcon {
  position: relative;
  width: 505.75px;
}
.maskGroupIcon {
  
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
}
.heading3 {
  letter-spacing: -0.26px;
  line-height: 42.84px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.category {
  position: relative;
  font-size: 14.01px;
  line-height: 25.92px;
  font-weight: 300;
}
.heading3EspiraMedicineParent,
.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading3EspiraMedicineParent {
  height: 56.95px;
  padding: var(--padding-4xs-5) var(--padding-0);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-7xs-1);
}
.work {
  height: 680px;
  justify-content: flex-start;
  gap: 38.25px;
  text-align: left;
  font-size: 26.86px;
  color: var(--white);
  font-family: var(--font-inter);
}
